<h1>Listing Cake Sizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cake_sizes.each do |cake_size| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= cake_size.name %></td>
        <td><%= link_to 'Edit', edit_cake_size_path(cake_size), class: 'action' %></td>
        <td><%= link_to 'Destroy', cake_size, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
