<h1>Cacao Admin Panel</h1>


<div class="actions">
	<%= link_to 'LOCATIONS', locations_path, class: 'action' %>
	<%= link_to 'USERS', users_path, class: 'action' %>
	<%= link_to 'SIZES', cake_sizes_path, class: 'action' %>
	<%= link_to 'LOGOUT', :logout, class: 'action' %></div>
</div>