<h1>Daily Messages</h1>

<div class='actions'>
	<%= link_to 'Previous Day', daily_messages_path(date: @date - 1.day), class: 'action' %>
	<%= link_to 'Next Day', daily_messages_path(date: @date + 1.day), class: 'action' %>
</div>
<table>
	<%= content_tag(:h2, @date.strftime('%d/%m')) %>
	<tr>
		<th>Message</th>
		<th>Photo</th>
		<th colspan="2"></th>
	</tr>

<%= render partial: 'orders/messages/order', collection: @orders %>
</table>