<%= render 'search_bar' %>

<div id='content'>

	

<h1>Orders</h1>

<table>
	<tr>
		<th>Pickup</th>
		<th>Date</th>
		<th>Time</th>
		<th>Style</th>
		<th>Size</th>
		<th>Message</th>
		<th>Notes</th>
		<th colspan="2"></th>
	</tr>

	<%= render @orders %>
</table>
